::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #333333;
  }
  
  ::selection {
    color: #ffffff;
    background: #333333;
  }

  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lora Bold'), local('Lora-Bold'),
      url('/fonts/lora-v13-latin-700.woff') format('woff');
  }

  .section-highlight {
    background-color: #65182c;
    padding: 40px 20px;
    color: #ffffff;
    
  
  }
  .section-highlight .intTitle{
    font-size: 4em;
    font-family: 'Lora', serif;
  }
  